<section class="intro">
  <div class="container">
    👋 Hello, I'm Michal.

  <p style="text-align:center">
    <a href="mailto:mpmisko@gmail.com">Email</a> &nbsp &nbsp
    <a href="https://scholar.google.com/citations?user=IDQmvPMAAAAJ&hl=en&oi=ao">Google Scholar</a> &nbsp &nbsp
    <a href="https://X.com/michal_pandy">X</a> &nbsp &nbsp
    <a href="https://www.linkedin.com/in/michal-pandy/">LinkedIn</a>
  </p>

  <p>
    This blog? I just write as a hobby sometimes. Let me know if some idea stood out to you.
  </p>
</section>
